.TalkDetails header {
  padding: 12px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.TalkDetails header .row {
  width: 100%;
}

.TalkDetails h1 {
  font-weight: 100;
  text-align: left;
  font-size: 32px;
}

.TalkDetails .location {
  padding: 12px 24px;
  display: flex;
  margin-top: 42px;
}

.TalkDetails .location h3 {
  font-size: 26px;
  margin: 0;
}

.TalkDetails .location p {
  margin: 0;
}

.TalkDetails .date-infos {
  background: #00D8FF;
  display: flex;
  justify-content: space-between;
  margin: -12px;
  padding: 18px;
}

.TalkDetails .date-infos div {
  display: flex;
  font-weight: 100;
  font-size: 20px;
  padding: 0 12px;
}

.TalkDetails .date-infos div > div {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.TalkDetails .date-infos h3 {
  font-weight: 100;
  font-size: 36px;
}

.TalkDetails .date-infos h3 small {
  font-size: 24px;
  text-transform: capitalize;
}

.TalkDetails .date-infos small {
  text-transform: uppercase;
}


.TalkDetails .date-infos h3 {
  margin: 0;
}

.TalkDetails .numbers {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.TalkDetails .numbers .num {
  margin-bottom: 0;
  font-size: 42px;
  line-height: 1;
}

.TalkDetails .numbers small {
  font-size: 18px;
}

.TalkDetails .description {
  white-space: pre-wrap;
  margin-top: 16px;
}

.TalkDetails .description:empty {
  min-height: 90px;
  position: relative;
}


@keyframes loadingGradient {
  0% { background-position: 0vw }
  100% { background-position: 100vw }
}

/**
 * Don't bug the animation on high resolutions,
 * Since the max-width is 540px we need to set the background-position to 540px
 * If we still using 100vw the animation will be too fast
 */
@media screen and (min-width: 540px) {
  @keyframes loadingGradient {
    0% { background-position: 0vw }
    100% { background-position: 540px }
  }
}

.TalkDetails .description:empty::before,
.TalkDetails .description:empty::after {
  content: '';
  height: 20px;
  width: 100%;
  background: linear-gradient(to right, #dcdcdc, #ededed, #dcdcdc);
  position: absolute;
  animation: loadingGradient 0.5s linear infinite;
}

.TalkDetails .description:empty::before {
  top: 0;
}


.TalkDetails .description:empty::after {
  position: absolute;
  top: 30px;
}


.TalkDetails.is-loading .date-infos,
.TalkDetails.is-loading .numbers {
  color: transparent;
}

.TalkDetails.is-loading .num::before {
  content: '...'
}